<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Appoitment Card</h1>
    <div class="buttons">
      <button class="button button-positive button-clear" ng-click="closeAppoitmentModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="bookAppoitment()">
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
  		      Staff
  		    </div>
  		    
          <select ng-model="appoitment.staff" ng-options="staff.firstName + ' ' + staff.lastName for staff in staffs track by staff._id ">
          <option value="">Select Staff</option></select>
		    </label>

        <label class="item item-input item-select">
  		    <div class="input-label">
  		      Service
  		    </div>
  		    
          <select ng-model="appoitment.service" ng-options="service.name for service in services track by service._id ">
          <option value="">Select Service</option></select>
        </label>

		    <label class="item item-input item-select">
  		    <div class="input-label">
  		      Customer
  		    </div>

          <select ng-model="appoitment.customer" ng-options="customer.firstName + ' ' + customer.lastName for customer in customers track by customer._id ">
          <option value="">Select Customer</option></select>
		    </label>

		    <label class="item item-input">
          <span class="input-label">When</span>
          <input type="datetime-local" ng-model="appoitment.date" placeholder="yyyy-MM-ddTHH:mm" />
        </label>

        <label class="item item-input">
          <span class="input-label">Note</span>
          <textarea placeholder = 'Enter note if needed...' ng-model="appoitment.note"></textarea>
        </label>
       
        <label class="item">
          <button class="button button-block button-positive" type="submit">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>