<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Customer Card</h1>
    <div class="buttons">
      <button class="button button-positive button-clear" ng-click="closeCustomerModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="customerForm" ng-submit="saveCustomer()">
      <div class="list">

        <label class="item item-input"  ng-class="{ 'has-errors' : customerForm.firstName.$invalid && !customerForm.firstName.$pristine , 'no-errors' : customerForm.firstName.$valid}">
          <span class="input-label">First Name</span>
          <input type="text" name="firstName" ng-model="customer.firstName" required>
        </label>
             
        <div class="error-container" ng-show="customerForm.firstName.$error && !customerForm.firstName.$pristine " ng-messages="customerForm.firstName.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>

        <label class="item item-input" ng-class="{ 'has-errors' : customerForm.lastName.$invalid && !customerForm.lastName.$pristine , 'no-errors' : customerForm.lastName.$valid}">
          <span class="input-label">Last Name</span>
          <input type="text" name="lastName" ng-model="customer.lastName" required>
        </label>

        <div class="error-container" ng-show="customerForm.lastName.$error && !customerForm.lastName.$pristine " ng-messages="customerForm.lastName.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>

        <label class="item item-input" ng-class="{ 'has-errors' : customerForm.phone.$invalid && !customerForm.phone.$pristine , 'no-errors' : customerForm.phone.$valid}">
          <span class="input-label">Phone</span>
          <input type="text" name="phone" ng-model="customer.phone" required>
        </label>

        <div class="error-container" ng-show="customerForm.phone.$error && !customerForm.phone.$pristine " ng-messages="customerForm.phone.$error">
          <div ng-messages-include="error-list.html"></div>
        </div>

       <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="customer.email">
        </label>

        <label class="item">
          <button class="button button-block button-positive" ng-disabled="customerForm.$invalid" type="submit">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>