<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Customer Card</h1>
    <div class="buttons">
      <button class="button button-positive button-clear" ng-click="closeCustomerModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="saveCustomer()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="customer.firstName">
        </label>
         <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="customer.lastName">
        </label>
         <label class="item item-input">
          <span class="input-label">Phone</span>
          <input type="text" ng-model="customer.phone">
        </label>
       <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="customer.email">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Save</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>