

<ion-view view-title="Schedules">
   
  <ion-nav-buttons side="secondary">
      <div class="buttons">
        <button class="button-assertive icon ion-plus-circled"
          ng-click="showAppoitmentModal()"></button>
      </div>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
      <ion-item ng-repeat="schedule in schedules">
        
        <p>{{schedule.date * 1000 | date:'dd-MM-yyyy HH:mm'}}</p>
        <p>{{schedule.customer.firstName}} {{schedule.customer.lastName}}</p>
        <p>{{schedule.staff.firstName}} {{schedule.staff.lastName}}</p>
        <p>{{schedule.service.name}}</p>
        
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

